.ty-picker-panel {
  color: #606266;
  border: 1px solid #e4e7ed;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 4px;
  line-height: 30px;
  margin: 5px 0;
}
.ty-date-picker {
  width: 322px;
}
.ty-date-picker__header {
  margin: 12px;
  text-align: center;
}
.ty-picker-panel__icon-btn {
  font-size: 12px;
  color: #303133;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
  margin-top: 8px;
  padding: 0 5px;
}
.ty-date-picker__prev-btn {
  float: left;
}
.ty-date-picker__header-label {
  font-size: 16px;
  font-weight: 500;
  padding: 0 5px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  color: #606266;
}
.ty-date-picker__next-btn {
  float: right;
}
.ty-picker-panel__content {
  width: 292px;
}
.ty-picker-panel__content {
  position: relative;
  margin: 15px;
}
.ty-date-picker table {
  table-layout: fixed;
  width: 100%;
}
.ty-date-table {
  font-size: 12px;
  user-select: none;
  width: 100%;
}
.ty-date-table th {
  padding: 5px;
  color: #606266;
  font-weight: 400;
  border-bottom: 1px solid #ebeef5;
}
.ty-date-table td.next-month,
.ty-date-table td.prev-month {
  color: #c0c4cc;
}
.ty-date-table td {
  width: 32px;
  height: 30px;
  padding: 4px 0;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.ty-date-table td div {
  height: 30px;
  padding: 3px 0;
  box-sizing: border-box;
}
.ty-date-table td span {
  width: 24px;
  height: 24px;
  display: block;
  margin: 0 auto;
  line-height: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}
.ty-year-table {
  font-size: 12px;
  margin: -1px;
  border-collapse: collapse;
}
.ty-year-table td {
  text-align: center;
  padding: 20px 3px;
  cursor: pointer;
}
.ty-year-table td .cell {
  width: 48px;
  height: 32px;
  display: block;
  line-height: 32px;
  color: #606266;
  margin: 0 auto;
}
.ty-month-table {
  font-size: 12px;
  margin: -1px;
  border-collapse: collapse;
}
.ty-month-table td {
  text-align: center;
  padding: 8px 0;
  cursor: pointer;
}
.ty-month-table td div {
  height: 48px;
  padding: 6px 0;
  box-sizing: border-box;
}
.ty-month-table td .cell {
  width: 60px;
  height: 36px;
  display: block;
  line-height: 36px;
  color: #606266;
  margin: 0 auto;
  border-radius: 18px;
}
.ty-date-table td.today span {
  color: #07c7ff;
}
.ty-date-table td.current:not(.disabled) span {
  color: #fff;
  background-color: #409eff;
}
.ty-year-table td.today .cell {
  color: #07c7ff;
}
.ty-month-table td.today .cell {
  color: #07c7ff;
}
.ty-year-table td .cell:hover,
.ty-year-table td.current:not(.disabled) .cell,
.ty-month-table td.current:not(.disabled) .cell {
  color: #409eff;
  font-weight: 700;
}
.ty-input {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 100%;
}
.ty-input__inner {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
.ty-date-editor.ty-input,
.ty-date-editor.ty-input__inner {
  width: 220px;
}
.ty-zoom-in-top-enter-active,
.ty-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: center top;
}
.ty-zoom-in-top-enter,
.ty-zoom-in-top-leave-to {
  opacity: 0;
  transform: scaleY(0);
}
/*# sourceMappingURL=style.css.map */